<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	
	<groups>
		<run>
		<exclude name="homepage"></exclude>
		</run>
	</groups>
	
  <test thread-count="10" name="Test" parallel="classes">
    <classes>
      <class name="testNgDemo.TestNGDemoClass"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
